{% load i18n %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Navbar goes here -->
<nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4 ">
        <div class="flex justify-between">
            <div class="flex space-x-7">
                <div>
                    <a href="/" class="flex items-center py-4 px-2">
                        <span class="font-semibold text-gray-500 text-lg">Survey Metrics</span>
                    </a>
                </div>
            </div>
            <!-- Secondary Navbar items -->
            <div class="hidden md:flex items-center space-x-3 ">
                <a href="{% url 'djf_surveys:index' %}" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-blue-500 hover:text-white">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </a>
                <a href="{% url 'djf_surveys:index' %}" style="font-size: larger;" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-blue-500 hover:text-white">
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                </a>
                
                <a href="{% url 'logout_user' %}" style="background-color: #25419147;text-decoration: none;border-radius: 40%; color:black;" href="" class="py-2 px-2 font-medium  text-gray-500 rounded hover:bg-blue-500 hover:text-white">
                    Logout
                </a>
            </div>
            <!-- Mobile menu button -->
            <div class="md:hidden flex items-center">
                <button class="outline-none mobile-menu-button">
                    <svg class=" w-6 h-6 text-gray-500 hover:text-blue-500 "
                         x-show="!showMenu"
                         fill="none"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         stroke-width="2"
                         viewBox="0 0 24 24"
                         stroke="currentColor"
                    >
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- mobile menu -->
    <div class="hidden mobile-menu">
        <ul class="">
            <li class="active">
                {% if user.is_superuser %}
                <a href="{% url 'djf_surveys:admin_survey' %}" class="block text-sm px-2 py-4 px-5 text-gray-500 hover:text-white hover:bg-blue-500 font-semibold">{% trans "Surveys" %}</a>
                {% endif %}
            </li>
            <li>
                <a href="" target="_blank" class="block text-sm px-2 py-4 px-5 text-gray-500 hover:text-white hover:bg-blue-500 font-semibold">{% trans "Logout" %}</a>
            </li>
        </ul>
    </div>
    <script>
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>
</nav>