<!doctype html>
<html lang="en">
  <head>
    <title>Set New Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <form method="post" class="form-group border p-4">
            {% csrf_token %}
            <h3 class="text-center mb-4">Set New Password</h3>
            {% if form.errors %}
              <div class="alert alert-danger">
                {% for field in form %}
                  {% for error in field.errors %}
                    {{ error }}<br>
                  {% endfor %}
                {% endfor %}
              </div>
            {% endif %}
            <input type="password" name="new_password1" class="form-control border-dark my-4" placeholder="New Password" required>
            <input type="password" name="new_password2" class="form-control border-dark my-4" placeholder="Confirm New Password" required>
            <input type="submit" class="form-control" value="Change Password" style="color: white; background-color: cadetblue;">
          </form>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
</html>