<!doctype html>
<html lang="en">
  <head>
    <title>Reset Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <form method="post" class="form-group border p-4">
            {% csrf_token %}
            <h3 class="text-center mb-4">Reset Password</h3>
            {% if form.email.errors %}
              <div class="alert alert-danger">{{ form.email.errors }}</div>
            {% endif %}
            <p>Enter your email address below, and we'll email instructions for setting a new password.</p>
            <input type="email" name="email" class="form-control border-dark my-4" placeholder="Email address" required>
            <input type="submit" class="form-control" value="Reset Password" style="color: white; background-color: cadetblue;">
          </form>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
</html>