<!-- <!doctype html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
      <div class="container mt-5">
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col mt-5">
                <form action="{% url 'auth-user' %}" method="post" class="form-group border p-4">
                    {% csrf_token %}
                    {% if error %}
                    <div class="alert alert-warning">{{error}}</div>
                    {% endif %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <input type="text" name="username" class="form-control border-dark border my-4" placeholder="Email or Phone Number" value="{{ email }}">
                    <input type="password" name="password" class="form-control border-dark border my-4" placeholder="Password">
                    <input type="submit" class="form-control my-4" value="Login" style="color: white; background-color: cadetblue;">
                    <center><a href="{% url 'password_reset' %}" style="color: cadetblue; font-weight: bold; font-size: small;">Forgot password?</a></center>
                    <hr style="height:1px;border-width:0;color:gray;background-color:gray"/>
                    <div class="text-center">
                        <span style="font-size: smaller; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Don't have account?</span> 
                        <a href="{% url 'register' %}" style="font-size: smaller; font-weight: bold;">Sign up</a>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
      <div class="container mt-5">
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col mt-5">
                <form action="{% url 'auth-user' %}" method="post" class="form-group border p-4">
                    {% csrf_token %}
                    <span class="badge bg-warning text-dark">{{error}}</span>
                    <input type="text" name="username" class="form-control border-dark border my-4" placeholder="Email or Phone Number" {% if email %}value="{{ email }}"{% endif %}>
                    <input type="password" name="password" class="form-control border-dark border my-4" placeholder="Password">
                    <input type="submit" class="form-control my-4" value="Login" style="color: white; background-color: cadetblue;">
                    <center><a href="{% url 'password_reset' %}" style="color: cadetblue; font-weight: bold; font-size: small;">Forgot password?</a></center>
                    <hr style="height:1px;border-width:0;color:gray;background-color:gray"/>
                    <div class="text-center">
                        <span style="font-size: smaller; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Don't have account?</span> 
                        <a href="{% url 'register' %}" style="font-size: smaller; font-weight: bold;">Sign up</a>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>